/*

!.gitignore

!.config/
.config/*

!.i3/

!.config/doom/
.config/doom/*
!.config/doom/config.el

!.config/i3/
.config/i3/*
!.config/i3/config

config/doom/*
!.config/polybar
.config/polybar/*
!.config/polybar/*.ini
!.config/polybar/*.sh
